/* specific to this site */

:root
{
    --accent-color: #b4def2;
    --theme-color: #008;
    --theme-font-color: #fff;
    --negative-color: #fff;
}

.div-age-group
{
    border-color: var(--theme-color);
    border-radius: 5px;
    border-style: solid;
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 1em;
}

.div-chart > div
{
    height: unset !important;
    position: unset !important;
    width: 90% !important;
}

.div-chart > div > svg { overflow: visible; }

.div-percent-progress
{
    display: inline-block;
    padding-right: 1em;
}

.table td { white-space: nowrap; }

.table th
{
    padding: .5em;
    white-space: nowrap;
}

.div-table-wrapper
{
    display : flex;
    overflow: auto;
}

.hr-spacer
{
    border-style: none;
    height: 1.5ex;
}

.h1
{
    background-color: var(--theme-color);
    color: var(--theme-font-color);
}


.p { margin-bottom: 1ex; }

.progress[value]::-moz-progress-bar, .progress[value]::-webkit-progress-value
{
    background-color: var(--theme-color);
}

.radio-toolbar
{
    background-color: var(--accent-color);
    border-radius: 0pt;
    border-style: none;
    font-size: 2em;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 15px;
    text-align: center;
    white-space: nowrap;
}

.radio-toolbar input
{
    visibility: hidden;
}

.radio-toolbar-selected
{
    box-shadow: 0 0 5px black inset;
}

.table
{
    text-align: center;
}

.table thead
{
    background-color: var(--theme-color);
    color: var(--theme-font-color);
}

.table tr:nth-child(even)
{
    background-color: #b4def2;
}

.table tr:hover
{
    background-color: #ddd;
}
